<section class="artists-section" id="artists">
  <div class="container">
    <h2 class="artists-title">Artists</h2>
    <h3 class="artists-subtitle">Explore Your New Favorite Artists</h3>
    <ul class="artists-list"></ul>
    <button class="artists-button is-hidden">
      Load More
      <div class="icon-arrow-container">
        <svg class="icon-arrow-long" width="14" height="14" aria-hidden="true">
          <use href="../img/sprite.svg#icon-arrow-long"></use>
        </svg>
      </div>
    </button>
  </div>
</section>
