<link rel="stylesheet" href="./css/header.css" />

<section class="container header-section" id="header">
  <div class="header-nav">
    <a href="./index.html" class="header-logo">
      <svg width="106" height="30" class="header-icon-logo">
        <use href="./img/sprite.svg#icon-logo"></use>
      </svg> </a
    ><button class="header-btn">
      <svg width="24" height="24" class="header-icon-burger">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <ul class="header-list">
      <li class="header-list-item">
        <a href="#artists" class="header-list-link">Artists</a>
      </li>
      <li class="header-list-item">
        <a href="#about-us" class="header-list-link">About Us</a>
      </li>
      <li class="header-list-item">
        <a href="#reviews" class="header-list-link">Reviews</a>
      </li>
    </ul>
  </div>
</section>
<div class="header-menu">
  <ul class="header-overlay-list">
    <li class="header-menu-item">
      <a href="#artists" class="header-overlay-link">Artists</a>
    </li>
    <li class="header-menu-item">
      <a href="#about-us" class="header-overlay-link">About Us</a>
    </li>
    <li class="header-menu-item">
      <a href="#reviews" class="header-overlay-link">Reviews</a>
    </li>
  </ul>
</div>
