/* ===== ABOUT SECTION ===== */

.about {
  background-color: #060307;
}

/* wrapper */

.about-wrapper {
  max-width: 288px;
}

/* image */

.about-picture {
  display: block;

  width: 288px;
  height: 169px;

  margin: 0 0 48px 0;

  border-radius: 16px;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* content */

.about-icon {
  width: 64px;
  height: 64px;

  margin: 0 0 20px 0;

  fill: #ffffff;
}

.about-title {
  margin: 0 0 20px 0;

  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #ffffff;
  /* змінив на 20 px */
}

.about-text {
  font-family: var(--font-family);

  font-weight: 400;
  font-size: 20px;
  line-height: 150%;

  color: #ffffff;
}

/* ===== TABLET ===== */

@media only screen and (min-width: 768px) {

  .about{
    padding: 64px 0 64px 0;
  }

  .about-wrapper {
    max-width: 768px;
  }

  .about-title {
    margin: 0 0 24px 0;
  }

  .about-icon {
    width: 80px;
    height: 80px;
  }

  .about-picture {
    width: 704px;
    height: 413px;

    margin: 0 0 24px 0;
  }

  .about-icon {
    margin: 0 0 24px 0;
  }
}

/* ===== DESKTOP ===== */

@media only screen and (min-width: 1440px) {



  .about-wrapper {
    display: flex;
    align-items: center;
    min-width: 1312px;
    padding: 112px 0px 112px 0px;
  }

  .about-picture {
    width: 640px;
    height: 664px;

    margin: 0;
  }

  .about-content {
    margin: 0 0 0 32px;

  }

  .about-text {
    font-family: var(--font-family);

    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    color: #ffffff;
  }

}

@media only screen and (min-width: 320px) {
  .about{
    padding: 64px 0 64px 0;
  }
}