/* кольори і шрифти можна буде перенести в base */

.artists-section {
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #060307;
    color: #fff;
    padding: 64px 0px 64px 0px;
}


.artists-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin: 0px 0px 16px 0px;
}

.artists-subtitle{
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2;
    margin: 0px 0px 32px 0px;
    letter-spacing: -0.01em;
    font-family: "Epilogue", sans-serif;
}

.artist-list{
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
}

