

.artists-section {
    padding: 64px 0px 64px 0px;
}


.artists-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin: 0px 0px 16px 0px;
}

.artists-subtitle,
.artist-name {
    font-family: "Epilogue", sans-serif;
}

.artists-subtitle{
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2;
    margin: 0px 0px 32px 0px;
    letter-spacing: -0.01em;
}

.artists-list{
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
}

.artist-card {
    width: 100%;
}

.artist-img {
    border-radius: 16px;
    width: 100%;
    height: 177px;
    object-fit: cover;
    object-position: top;
}

.artist-genres {
    margin: 24px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.artist-genre {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid rgba(255, 255, 255, 0.204);
    border-radius: 6px;
    padding-block: 4px;
    padding-inline: 10px;
}

.artist-name {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    margin: 16px 0px 0px 0px;
}

.artist-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 8px 0px 0px 0px;
}

.artist-link {
    display: inline-flex;
    border: none;
    background: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    margin: 24px 0px 0px 0px;
    padding: 0px;
    box-shadow: none;
}

.artists-button {
    font-family: "IBM Plex Sans", sans-serif;
    padding-block: 10px;
    padding-inline: 24px;
    margin: 32px 0px 0px 0px;
    outline: none;
    border: none;
    width: 288px;
    height: 47px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: white;
    background: #764191;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artist-link::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='white'%3E%3Cpath d='M12 25.333l10.667-9.333-10.667-9.333v18.667z'/%3E%3C/svg%3E");
    margin: 0 0 0 8px;
}


.icon-arrow-container {
    margin: 0px 0px 0px 12px;
    width: 24px;
    height: 24px;

}

.icon-arrow-long {
    fill: white;
}


@media only screen and (min-width: 768px) {
.artist-img{
    height: 432px;
}
.artists-button {
    width: 340px;
    margin: 64px auto 0px auto;
}
}


@media only screen and (min-width: 1440px){
.artists-section{
    padding: 112px 0px 112px 0px;
}
.artists-subtitle{
    font-size: 60px;
    width: 523px;
    margin: 0px 0px 80px 0px;
}
.artists-list {
    gap:32px;
}
.artist-card{
    width: calc((100% - 32px) / 2);
}
.artist-img {
    height: 393px;
}
.artists-button {
    width: 170px;
}
}










