:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color:#060307;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}


@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

button, a {
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button {
    box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05), 
                inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), 
                inset 0 0 0 1px rgba(6, 3, 7, 0.15), 
                inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), 
                inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    border-radius: 12px;
}

a:hover, a:focus {
    opacity: 0.6;
}

.hero-btn:hover, 
button:not([style*="background: none"]):hover,
button:not([style*="background: none"]):focus {
    opacity: 1; 
    box-shadow: 0px 0px 60px 15px rgba(118, 65, 145, 0.6);
    filter: brightness(1.1);
}

button.artist-link:hover {
    box-shadow: 0 0 0 5px #000000, 
                0px 0px 60px 15px rgba(118, 65, 145, 0.6);
}

button:hover svg, 
a:hover svg {
    fill: #764191; 
    stroke: #764191; 
    filter: drop-shadow(0px 0px 10px rgba(118, 65, 145, 0.7)) brightness(1.1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}