.footer-section {
  padding: 48px 0;
}

.footer-logo {
  display: block;
  fill: #764191;
  width: 84px;
  height: 36px;
}

.footer-logo-tab {
  display: none;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 0 0 48px 0;
}

.footer-list-link {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-list-item {
  text-align: center;
}

.footer-item-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.footer-social-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 24px 0 16px 0;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 32px;
  fill: #fff;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  justify-content: center;
}

@media screen and (min-width: 768px) {


  .footer-section {
    padding: 80px 0;
  }

  .footer-nav {
    margin: 0 0 80px 0;
  }

  .footer-logo {
    width: 116px;
    height: 45px;
  }

  .footer-logo-mob {
    display: none;
  }

  .footer-logo-tab {
    display: block;
  }

  .footer-list-link {
    flex-direction: row;
  }

  .footer-social-wrapper {
    flex-direction: row-reverse;
    gap: unset;
    justify-content: space-between;
    padding: 32px 0 0 0;
  }

  .footer-social-icon {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-social-icon {
    width: 24px;
    height: 24px;
  }
}