.header-btn {
  border: none;
  padding: 0;
  background: none;
  width: 48px;
  height: 48px;
  box-shadow: none;
}

.header-menu {
  display: none;
}

.header-menu.is-open {
  display: block;
}

.header-overlay-link {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 26px;

  /* line-height: 39px; */
  line-height: 150%;
  color: #fff;
}

.header-overlay-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin-top: 119px;
}

.header-nav {
  display: flex;
  margin: 6.5px 0 6.5px 0;
  justify-content: space-between;
  align-items: center;
}

.header-list {
  display: none;
}

.header-section {
  background: #060307;
}

.header-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 1000;
}

.header-overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #060307;
  z-index: 999;
  overflow: auto;
  display: none;
}

.header-menu {
  display: none;
  width: 100%;
  color: #ffffff;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-menu.is-open {
  display: block;
}

.header-section .header-icon-logo,
.header-icon-burger {
  fill: #ffffff;
  color: #ffffff;
}

.header-icon-burger {
  z-index: 1004;
}

@media only screen and (min-width: 768px) {


  .header-btn {
    display: none;
  }

  .header-nav {
    margin: 10.5px 0 10.5px 0;
  }

  .header-list {
    display: flex;
    gap: 32px;
    margin: auto 0 auto 0;
  }

  .header-list-link {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;

    /* line-height: 27px; */
    line-height: 150%;
    color: #fff;
  }
}