.loader-wrapper {
  position: fixed;      /* Фіксуємо відносно вікна браузера */
  top: 0;
  left: 0;
  width: 100vw;         /* 100% ширини вікна */
  height: 100vh;        /* 100% висоти вікна */
  
  display: flex;        /* Вмикаємо Flexbox */
  align-items: center;  /* Центрування по вертикалі */
  justify-content: center; /* Центрування по горизонталі */
  
  background: rgba(6, 3, 7, 0.85); 
  z-index: 99999;
  
  /* Додатковий захист від зсуву */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.artistModal-overlay,
.artists-section {
    position: relative;
}

.artistModal-overlay .loader-wrapper,
.artists-section .loader-wrapper {
    position: absolute;
    z-index: 10;
    background: rgba(0, 0, 0, 0.35);
}

.is-hidden {
    display: none;
}
.loader {
  display: block;
  margin: 0 auto;
  color: #764191; 
  font-size: 45px;
  text-indent: -9999em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  animation: mltShdSpin 3.4s infinite ease, round 3.4s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
     -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
     -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
     -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
     -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
 