/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./footer.css');
@import url('./artists.css');
@import url('./feedbacks.css');
@import url('./hero.css');
@import url('./modal.css');
@import url('./about.css');